<html lang="zh-cn">
<head>
    <title><?=constant("TP_SITE_NAME")?></title>
    <?php include "template/common/header.html"; ?>
</head>
<body>
<?php include "template/common/navbar.html"; ?>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <h1 class="card-title"><?=$tp_error_msg?></h1>
                    <a class="btn btn-dark text-white mt-5" href="/" role="button">返回首页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<?php include "template/common/footer.html"; ?>
</body>
</html>