<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/index/index"><?=TP_SITE_NAME?></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link <?=(isset($cur_ctr)&&$cur_ctr=='blog')?'active':''?>" href="/blog/index"><?=BunnyPHP\Language::get('blog')?></a>
            </li>
            <li class="nav-item">
                <form class="form-inline ml-md-4 mt-2 mt-md-0 mb-0" action="/blog/search">
                    <input name="word" class="form-control mr-sm-2" type="text" placeholder="<?=BunnyPHP\Language::get('search')?>" aria-label="<?=BunnyPHP\Language::get('search')?>">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><?=BunnyPHP\Language::get('search')?></button>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav">
            <?php if (isset($tp_user)): ?>
            <li class="nav-item">
                <a class="nav-link" href="/setting/index">
                    <img src="/user/avatar/<?= $tp_user['uid'] ?>"
                         class="rounded-circle" width="32"> <?=$tp_user['nickname']?>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout"><?=BunnyPHP\Language::get('logout')?></a>
            </li>
            <?php else: ?>
            <li class="nav-item">
                <a class="nav-link" href="/user/login"><?=BunnyPHP\Language::get('login')?></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/register"><?=BunnyPHP\Language::get('register')?></a>
            </li>
            <?php endif; ?>
        </ul>
    </div>
</nav>