body {
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 55px;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.neo_nav_bg {
    background-color: #000000CC !important;
}

.neo_card {
    border-radius: 0.1rem;
    border-width: 0;
}

.link-dark {
    color: #343a40;
    font-weight: bold;
}

.fab-div {
    width: 66px;
    position: fixed;
    bottom: 65px;
    right: 25px;
    font-size: 0;
    line-height: 0;
    z-index: 100;
}

.btn-fab {
    width: 50px;
    height: 50px;
    font-size: 28px;
    font-weight: bold;
    line-height: 23px;
    border-radius: 50%;
}