<html lang="zh-cn">
<head>
    <title>写博客 - <?=TP_SITE_NAME?></title>
    <?php include "template/common/header.html"; ?>
    <script src="https://cdn.bootcss.com/showdown/1.8.6/showdown.min.js"></script>
    <link href="/static/css/article.css" rel="stylesheet">
</head>
<body>
<?php include "template/common/navbar.html"; ?>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <form id="uploadForm" enctype="multipart/form-data">
                        <input type="file" style="height:0;width:0;display: none;" id="file" name="file" required/>
                    </form>
                    <form class="form-horizontal" role="form" action="/blog/create" method="post">
                        <input type="hidden" name="csrf_token" value="<?=$csrf_token?>"/>
                        <div class="form-group">
                            <label for="title">标题</label>
                            <input id="title" name="title" type="text" placeholder="标题" class="form-control" required/>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" onclick="onImageClick()">图片</button>
                        </div>
                        <div class="form-group">
                            <label for="summary">摘要</label>
                            <input id="summary" name="summary" type="text" placeholder="摘要" class="form-control"/>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 form-group">
                                <label for="content">内容</label>
                                <textarea class="form-control" id="content" name="content" rows="15" cols="60"
                                          placeholder="内容" required oninput="markdownIt()"></textarea>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="preview">预览</label>
                                <div class="form-control markdown-body" style="height: 20rem;overflow:auto"
                                     id="preview"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="float-right">
                                <button class="btn btn-outline-dark" type="submit">发布</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<?php include "template/common/footer.html"; ?>
<script>
    let converter = new showdown.Converter();
    let txt_content = $("#content");
    let div_preview = $('#preview');
    let txt_summary = $('#summary');

    function markdownIt() {
        div_preview.html(converter.makeHtml(txt_content.val()))
        txt_summary.val(div_preview.text().substring(0, 20));
    }

    function onImageClick() {
        $('#file').click();
    }

    $("#file").on("change", function () {
        $.ajax({
            url: "/ajax/blog/image",
            type: 'post',
            data: new FormData($('#uploadForm')[0]),
            processData: false,
            contentType: false,
            success: function (data) {
                let txt = txt_content.val();
                txt_content.val(txt + "![](" + data['url'] + ")");
                markdownIt();
            }
        });
    });
</script>
</body>
</html>