<html lang="zh-cn">
<head>
    <title><?=constant("TP_SITE_NAME")?></title>
    <?php include "template/common/header.html"; ?>
    <link href="/static/css/article.css" rel="stylesheet">
</head>
<body>
<?php include "template/common/navbar.html"; ?>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <?php foreach ($blogs as $blog): ?>
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body small">
                            <h4><a href="/blog/view/<?= $blog['tid'] ?>"><?= $blog['title'] ?></a></h4>
                            <div>
								<span class="username">
									<a href="/user/blog/<?=$blog['username']?>" class="text-muted font-weight-bold"><?= $blog['nickname'] ?></a>
								</span>
                                <span class="text-grey ml-2"><?= date('Y-m-d H:i:s', $blog['timestamp']) ?></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="markdown-body">
                        <?=$parser->makeHtml($blog['content'])?>
                    </div>
                </div>
            </div>
            <?php endforeach ?>
        </div>
        <div class="col-lg-3">
            <?php if (isset($tp_user)): ?>
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <a href="/blog/create" class="btn btn-dark btn-block text-white badge-pill">发博客</a>
                </div>
            </div>
            <div class="card neo_card mt-4">
                <div class="card-body text-center">
                    <img src="/user/avatar/<?= $tp_user['uid'] ?>"
                         class="rounded-circle center-block" width="72px"/>
                    <h4 class="card-title"><?= $tp_user['nickname'] ?></h4>
                </div>
            </div>
            <?php endif; ?>
            <?php if(isset($recommend_blogs)):?>
            <div class="card neo_card mt-4">
                <div class="card-header">
                    推荐列表
                </div>
                <ul class="list-group list-group-flush">
                    <?php foreach ($recommend_blogs as $blog): ?>
                    <li class="list-group-item list-group-item-action"><?=$blog['title']?></li>
                    <?php endforeach ?>
                </ul>
            </div>
            <?php endif;?>
        </div>
    </div>
</div>
<?php include "template/common/footer.html"; ?>
</body>
</html>