<html lang="zh-cn">
<head>
    <title>{L'blog_list'} - <?=TP_SITE_NAME?></title>
    <?php include "template/common/header.html"; ?>
    <link href="/static/css/article.css" rel="stylesheet">
</head>
<body>
<?php include "template/common/navbar.html"; ?>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <?php foreach ($blogs as $blog): ?>
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body small">
                            <h4><a class="link-dark" href="/blog/view/<?= $blog['tid'] ?>"><?= $blog['title'] ?></a>
                            </h4>
                            <div>
								<span class="username">
									<a href="/user/blog/<?=$blog['username']?>"
                                       class="text-muted font-weight-bold"><?= $blog['nickname'] ?></a>
								</span>
                                <span class="text-grey ml-2"><?= date('Y-m-d H:i:s', $blog['timestamp']) ?></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <?=$blog['summary']?>
                </div>
            </div>
            <?php endforeach ?>
            <nav class="mt-4" aria-label="">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link link-dark" href="/blog/list/1">{L'first_page'}</a>
                    </li>
                    <li class="page-item <?=$page==1?'disabled':''?>">
                        <a aria-label="Previous" class="page-link link-dark"
                           href="/blog/list/<?=$page==1?1:($page-1)?>">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">{L'prev_page'}</span>
                        </a>
                    </li>
                    <?php for($i=($page>4?($page-3):1);($i<=$page+5 && $i<=$end_page);$i++):?>
                    <li class="page-item <?=$page==$i?'active':''?>"><a class="page-link link-dark"
                                                                        href="/blog/list/<?=$i?>"><?=$i?></a></li>
                    <?php endfor;?>
                    <li class="page-item <?=$page==$end_page?'disabled':''?>">
                        <a aria-label="Next" class="page-link link-dark"
                           href="/blog/list/<?=$page==$end_page?$end_page:($page+1)?>">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">{L'next_page'}</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link link-dark" href="/blog/list/<?=$end_page?>">{L'last_page'}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
            <?php if (isset($tp_user)): ?>
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <a href="/blog/create" class="btn btn-dark btn-block text-white badge-pill">{L'create_blog'}</a>
                </div>
            </div>
            <div class="card neo_card mt-4">
                <div class="card-body text-center">
                    <img src="/user/avatar/<?= $tp_user['uid'] ?>"
                         class="rounded-circle center-block" width="72px"/>
                    <h4 class="card-title"><?= $tp_user['nickname'] ?></h4>
                </div>
            </div>
            <?php endif; ?>
            <?php if(isset($recommend_blogs)):?>
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <h5>{L'recommend_list'}</h5>
                    <?php foreach ($recommend_blogs as $blog): ?>
                    <p><a class="link-dark" href="/blog/view/<?=$blog['tid']?>"><?=$blog['title']?></a></p>
                    <?php endforeach ?>
                </div>
            </div>
            <?php endif;?>
        </div>
    </div>
</div>
<?php if (isset($tp_user)): ?>
<div class="fab-div d-lg-none d-md-none d-xl-none">
    <button class="btn btn-success btn-fab" onclick="window.location.href='/blog/create'">+</button>
</div>
<?php endif;?>
<?php include "template/common/footer.html"; ?>
</body>
</html>