<html lang="zh-cn">
<head>
    <title><?=$blog['title']?> - <?=constant("TP_SITE_NAME")?></title>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://<?=TP_SITE_URL?>/blog/view/<?=$blog['tid']?>" />
    <meta property="og:title" content="<?=$blog['title']?>" />
    <meta property="og:description" content="<?=$blog['summary']?>" />
    <?php include "template/common/header.html"; ?>
    <link href="/static/css/article.css" rel="stylesheet">
</head>
<body>
<?php include "template/common/navbar.html"; ?>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <h3><?=$blog['title']?></h3>
                    <div class="media">
                        <img class="rounded-circle"
                             src="/user/avatar?username=<?=$blog['username']?>"
                             width="48px"/>
                        <div class="media-body ml-3 small">
                            <h6><a href="/user/blog/<?=$blog['username']?>"
                                   class="text-muted font-weight-bold"><?=$blog['nickname']?></a></h6>
                            <div>
                                <span class="text-grey text-muted font-weight-bold"><?=date('Y-m-d H:i:s',$blog['timestamp'])?></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="markdown-body">
                        <?=$html_content?>
                    </div>
                    <hr>
                    <div>
                        <?php if(isset($tp_user)&&$blog["username"]==$tp_user["username"]):?>
                        发送到:
                        <a target="_blank" href="/ipfs/publish/<?=$blog['tid']?>"><img alt="IPFS" class="oauth-icon"
                                                                                       src="/static/img/ipfs.png"></a>
                        <?php endif;?>
                    </div>
                    <div>
                        <?php if(isset($shares)):?>
                        分享到:
                        <?php foreach ($shares as $s): ?>
                        <a target="_blank" href="<?=$s['url']?>"><img alt="<?=$s['name']?>" class="oauth-icon"
                                                                      src="/static/img/<?=$s['name']?>.png"></a>
                        <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <div class="card neo_card mt-3">
                <div class="card-body">
                    <?php if (isset($tp_user)): ?>
                    <form class="form-horizontal" role="form" action="/blog/comment/<?=$blog['tid']?>" method="post">
                        <input type="hidden" name="tid" value="<?=$blog['tid']?>"/>
                        <div class="form-group">
                            <label for="content">评论</label>
                            <textarea class="form-control" id="content" name="content" rows="3"
                                      cols="60"
                                      placeholder="内容" required></textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="mr-auto"></div>
                                <div class="col-md-3 col-lg-3">
                                    <button class="btn btn-dark btn-block badge-pill" type="submit">发布</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <?php elseif(isset($oauth_user)):?>
                    <form class="form-horizontal" role="form" action="/blog/o_comment/<?=$blog['tid']?>" method="post">
                        <input type="hidden" name="tid" value="<?=$blog['tid']?>"/>
                        <div class="float-right">
                            <img class="rounded-circle"
                                 src="/oauth/avatar/<?=$oauth_user['type']?>/<?=$oauth_user['uid']?>"
                                 width="24px"/> <?=$oauth_user['nickname']?> | <a
                                href="/oauth/logout?referer=/blog/view/<?=$blog['tid']?>">退出</a>
                        </div>
                        <div class="form-group">
                            <label for="o_content">评论</label>
                            <textarea class="form-control" id="o_content" name="content" rows="3"
                                      cols="60"
                                      placeholder="内容" required></textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="mr-auto"></div>
                                <div class="col-md-3 col-lg-3">
                                    <button class="btn btn-dark btn-block badge-pill" type="submit">发布</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <?php else:?>
                    <div class="center-block">
                        <p class="text-center">
                            <a href="/user/login?referer=/blog/view/<?=$blog['tid']?>">登陆</a>评论
                        </p>
                    </div>
                    <div class="oauth-bar text-center">
                        <?php foreach ($oauth as $o): ?>
                        <a href="/oauth/connect/<?=$o?>?referer=/blog/view/<?=$blog['tid']?>"><img alt="<?=$o?>"
                                                                                                   class="oauth-icon"
                                                                                                   src="/static/img/<?=$o?>.png"></a>
                        <?php endforeach ?>
                    </div>
                    <?php endif;?>
                    <?php foreach ($comments as $comment) : ?>
                    <hr>
                    <div class="media">
                        <?php if ($comment['type']=='wb'):?>
                        <img class="rounded-circle"
                             src="/oauth/avatar/wb/<?= $comment['username'] ?>"
                             width="40px"/>
                        <?php elseif($comment['type']=='qq'):?>
                        <img class="rounded-circle"
                             src="/oauth/avatar/qq/<?= $comment['username'] ?>"
                             width="40px"/>
                        <?php elseif($comment['type']=='tm'):?>
                        <img class="rounded-circle"
                             src="https://twimi.cn/user/avatar/<?= $comment['username'] ?>"
                             width="40px"/>
                        <?php elseif($comment['type']=='gh'):?>
                        <img class="rounded-circle"
                             src="https://avatars.githubusercontent.com/u/<?= $comment['username'] ?>"
                             width="40px"/>
                        <?php else:?>
                        <img class="rounded-circle"
                             src="/user/avatar?username=<?= $comment['username'] ?>"
                             width="40px"/>
                        <?php endif;?>
                        <div class="media-body ml-2 small">
                            <div>
                                <?php if ($comment['type']=='wb'):?>
                                <span class="username">
									<a href="https://weibo.com/u/<?= $comment['username'] ?>"
                                       class="text-muted font-weight-bold">
                                        <?=$comment['nickname']?>
                                        <img alt="微博" class="oauth-icon-small" src="/static/img/wb.png">
                                    </a>
                                </span>
                                <?php elseif ($comment['type']=='qq'):?>
                                <span class="username">
									<a href="#"
                                       class="text-muted font-weight-bold">
                                        <?=$comment['nickname']?>
                                        <img alt="QQ" class="oauth-icon-small" src="/static/img/qq.png">
                                    </a>
                                </span>
                                <?php elseif ($comment['type']=='tm'):?>
                                <span class="username">
									<a href="#"
                                       class="text-muted font-weight-bold">
                                        <?=$comment['nickname']?>
                                        <img alt="Twimi" class="oauth-icon-small" src="/static/img/tm.png">
                                    </a>
                                </span>
                                <?php elseif ($comment['type']=='gh'):?>
                                <span class="username">
									<a href="https://github.com/<?=$comment['nickname']?>"
                                       class="text-muted font-weight-bold">
                                        <?=$comment['nickname']?>
                                        <img alt="Twimi" class="oauth-icon-small" src="/static/img/gh.png">
                                    </a>
                                </span>
                                <?php else:?>
                                <span class="username">
									<a href="/user/blog/<?= $comment['username'] ?>"
                                       class="text-muted font-weight-bold"><?=$comment['nickname']?></a>
                                </span>
                                <?php endif;?>
                                <span class="text-grey ml-2"><?=date('Y-m-d H:i:s', $comment['timestamp'])?></span>
                            </div>
                            <h6><?=htmlspecialchars($comment['content'])?></h6>
                        </div>
                    </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php include "template/common/footer.html"; ?>
</body>
</html>