<html lang="zh-cn">
<head>
    <title><?= $blogs[0]['nickname'] ?> - <?=TP_SITE_NAME?></title>
    <?php include "template/common/header.html"; ?>
    <link href="/static/css/article.css" rel="stylesheet">
    <?php if(isset($user_info['background'])):?>
    <style>
        body {
            background: url(<?=$user_info['background']?>) no-repeat fixed center;
        }
    </style>
    <?php endif;?>
</head>
<body>
<?php include "template/common/navbar.html"; ?>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="card neo_card mt-4">
                <div class="card-body text-center">
                    <img src="/user/avatar/?username=<?= $blogs[0]['username'] ?>"
                         class="rounded-circle center-block" width="72px"/>
                    <h4 class="card-title"><?= $blogs[0]['nickname'] ?></h4>
                    <p class="card-text"><?=htmlspecialchars($user_info['signature'])?></p>
                </div>
            </div>
            <?php foreach ($blogs as $blog): ?>
            <div class="card neo_card mt-2">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body small">
                            <h4><a class="link-dark" href="/blog/view/<?= $blog['tid'] ?>"><?= $blog['title'] ?></a></h4>
                            <div>
								<span class="username">
									<a href="/user/blog/<?=$blog['username']?>"
                                       class="text-muted font-weight-bold"><?= $blog['nickname'] ?></a>
								</span>
                                <span class="text-grey ml-2"><?= date('Y-m-d H:i:s', $blog['timestamp']) ?></span>
                            </div>
                        </div>
                    </div>
                    <?=$blog['summary']?>
                </div>
            </div>
            <?php endforeach ?>
        </div>
        <div class="col-lg-3">
            <?php if(isset($recommend_blogs)):?>
            <div class="card neo_card mt-4">
                <div class="card-header">
                    推荐列表
                </div>
                <ul class="list-group list-group-flush">
                    <?php foreach ($recommend_blogs as $blog): ?>
                    <li class="list-group-item list-group-item-action"><?=$blog['title']?></li>
                    <?php endforeach ?>
                </ul>
            </div>
            <?php endif;?>
        </div>
    </div>
</div>
<?php include "template/common/footer.html"; ?>
</body>
</html>