<html>
<head>
    <title>{L'login'} - <?=TP_SITE_NAME?></title>
    <?php include "template/common/header.html"; ?>
    <link rel="stylesheet" href="/static/css/login.css"/>
</head>
<body>
<div class="container">
    <h2 class="login-heading"><img src="/static/img/mineblog.png" height="96px"></h2>
    <?php if (isset($tp_error_msg)): ?>
    <div id="err_alert" class="alert alert-danger login-alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{L'tip_info'}:</strong><?=$tp_error_msg; ?>
    </div>
    <?php endif; ?>
    <div class="card form-login">
        <form action="/user/login" method="post">
            <input type="hidden" name="csrf_token" value="<?=$csrf_token?>"/>
            <div class="form-group">
                <label for="username">{L'username'}</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="{L'username'}" required
                       autofocus>
            </div>
            <div class="form-group">
                <label for="password">{L'password'}</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="{L'password'}" required>
            </div>
            <?php if(isset($referer)):?>
            <input type="hidden" id="referer" name="referer" value="<?=$referer?>">
            <?php endif;?>
            <input type="submit" class="btn btn-success btn-block" value="{L'login'}">
            <div class="oauth-bar">
                <?php foreach ($oauth as $o): ?>
                <a href="/oauth/connect/<?=$o[0]?>"><img alt="<?=$o[1]?>" class="oauth-icon" src="/static/img/<?=$o[0]?>.png"></a>
                <?php endforeach ?>
            </div>
            <div class="float-right">
                <a href="/user/register?referer=<?=isset($referer)?urlencode($referer):''?>">{L'register'}</a>
                | <a href="/user/findpass">{L'forgot_password'}</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>