<html>
<head>
    <title>登录</title>
    <?php include "template/common/header.html"; ?>
    <link rel="stylesheet" href="/static/css/login.css"/>
</head>
<body>
<div class="container">
    <h2 class="login-heading"><img src="/static/img/mineblog.png" height="96px"></h2>
    <?php if (isset($tp_error_msg)): ?>
    <div id="err_alert" class="alert alert-danger login-alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>提示信息:</strong><?=$tp_error_msg; ?>
    </div>
    <?php endif; ?>
    <div class="card form-login">
        <form action="/user/login" method="post">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required
                       autofocus>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
            </div>
            <?php if(isset($referer)):?>
            <input type="hidden" id="referer" name="referer" value="<?=$referer?>">
            <?php endif;?>
            <input type="submit" class="btn btn-success btn-block" value="登陆">
            <div class="oauth-bar">
                <a href="/oauth/connect/qq"><img alt="QQ" class="oauth-icon" src="/static/img/qq.png"></a>
                <a href="/oauth/connect/wb"><img alt="微博" class="oauth-icon" src="/static/img/wb.png"></a>
                <a href="/oauth/connect/gh"><img alt="Github" class="oauth-icon" src="/static/img/gh.png"></a>
                <a href="/oauth/connect/tm"><img alt="Twimi" class="oauth-icon" src="/static/img/tm.png"></a>
            </div>
            <div class="float-right"><a href="/user/register?referer=<?=isset($referer)?urlencode($referer):''?>">注册</a> | <a
                    href="/user/findpass">忘记密码</a></div>
        </form>
    </div>
</div>
</body>
</html>