<html lang="zh-cn">
<head>
    <title>头像 - <?=constant("TP_SITE_NAME")?></title>
    <?php include "template/common/header.html"; ?>
</head>
<body>
<?php include "template/common/navbar.html"; ?>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <?php include "template/setting/nav.html"; ?>
        </div>
        <div class="col-lg-9">
            <div class="card neo_card mt-4">
                <div class="card-body">
                    <form action="/setting/gravatar">
                        <div class="form-group">
                            <div class="col-sm-3 col-form-label">
                                <img class="rounded-circle" src="https://www.gravatar.com/avatar/<?=md5(strtolower(trim($tp_user['email'])))?>">
                            </div>
                            <div class="col-sm-9">
                                <input type="submit" value="使用Gravatar头像" class="btn btn-dark">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<?php include "template/common/footer.html"; ?>
</body>
</html>